.menu {
    margin-left:100px;
    margin-top:20px;
    color:#7E476F;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    display:inline-block;
    font-weight:300;
  }
  
  .menu:hover{
    color:#BFB1BE;
  }
  
  .title{
    margin-left:350px;
    width:800px;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 100px;
    display:block;
  }
  
  .under_title{
    color:#6A91C0;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
    }
    
    .first{
      margin:350px;
    }
    
    .image{
      width:1000px;
      display:block;
      margin:0 auto;
      
    }
    
    .descript{
      width:1000px;
      display:block;
      margin:50px auto;
      font-family:'Times New Roman', Times, serif;
      color:#3C588B;
      font-size:15px;
    }
    
    .header{
      position:sticky;
      top:0;
      background-color:#E4C8B0; 
     }

     .subscribe{
      padding:10px;
      background-color:blanchedalmond;
     }
     .subscribe input{
      width:200px;
      padding:5px;
     }
     .subscribe button{
      background-color:azure;
      border:none;
      padding:5px 10px;
      color:black;
      font-weight:bold;

     }

     .review{
       margin-top: 50px;
       border: 1px solid black;
       padding: 20px;
     }
   
     .rating{
        font-size: 24px;
        margin-bottom: 10px;
     }
  
     .star{
       color: gold;
     }

     input[type="text"], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid black;
        margin-top: 10px;
        margin-bottom: 20px;
     }
     .menu{
      margin=left: 100px;
      margin-top: 20px;
      color: black;
      font-family: 'Times New ROman', Times, serif;
      font-size: 20px;
      display: inline-block;
      font-weight: 300;
      
    }
    
    
    .menu:hover{
      color: #BFB1BE;
    }
    
    .title{
      margin-left: 350px;
      width: 800px;
      font-family: 'Times New Roman' Times, serif;
      font-size: 45px;
      margin-top: 100px;
      display: block;
      
    }
    
    .under_title{
      color: grey;
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 30px;
      margin-bottom: 40px;
      display: inline-block;
    }
    
    
    .first{
        margin-left: 350px;
    
    }
    
    .image{
        width: 1000px;
        display: block;
        margin: 0 auto;
    }
    
    .descript{
        width: 1000px;
        display: block;
        margin: 50px auto;
        font-family: 'Times New Roman', Times, serif;
        color:#3C588B;
        font-size: 20px;
    
    }
    
    header{
        position: sticky;
        top:0;
        background-color: #E4C8B0;
    }
    
    .subscribe{
        padding: 10px;
        background-color: blanchedalmond;
    
    }
    
    .subscribe input{
        width: 200px;
        padding: 5px;
    }
    
    .subscribe button{
        background-color: azure;
        border: inset;
        padding: 5px 10px;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    
    }
    
    
    .review{
        margin-top: 50px;
        border: 1px solid black;
        padding: 20px;
    }
    
    .rating{
        font-size:24px;
        margin-bottom: 10px;
    }
    
    .star{
     color:gold;
    }
    
    input[type="text"], select, textarea{
        width: 100%;
        padding: 12px;
        border: 3px solid black;
        margin-top: 10px;
        margin-bottom: 20px;
    }
      
     

  